*.gro
*.xvg
em.edr
em.log
em.tpr
em.trr
ions.tpr
md_0_1.cpt
md_0_1.edr
md_0_1.log
md_0_1.tpr
md_0_1.xtc
md_0_1_noPBC.xtc
npt.cpt
npt.edr
npt.log
npt.tpr
npt.trr
nvt.cpt
nvt.edr
nvt.log
nvt.tpr
nvt.trr
posre.itp
topol.top
trajectory.pdb
